/*@import "https://fonts.googleapis.com/css?family=Pangolin";
@import url('https://fonts.googleapis.com/css?family=Nunito:700');
*/

/*
@import "https://fonts.googleapis.com/css?family=Pangolin";
@import url('https://fonts.googleapis.com/css?family=Nunito:700');
*/
/* pangolin-regular - latin */
@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pangolin-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Pangolin Regular'), local('Pangolin-Regular'),
       url('../fonts/pangolin-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pangolin-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pangolin-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pangolin-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pangolin-v3-latin-regular.svg#Pangolin') format('svg'); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v9-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}


* {
margin:0;
padding:0;
box-sizing:border-box;
}

body {
font-size:.875rem;
font-family:"Pangolin","Comic Sans",cursive;
}

#main.fullscreen___ {
position:absolute;
width:1800px;
height:500px;
top:50%;
left:50%;
margin-left:-50px;
/* margin is -0.5 * dimension */
margin-top:-25px;
}

#debug {
position:absolute;
top:10px;
left:10px;
background-color:rgba(255,255,0,0.5);
width:200px;
height:20px;
}

.container {
width:1024px;
height:716px;
margin:0 auto;
position:relative;
}

.main-content {
width:1024px;
height:616px;
position:relative;
background-color:#fff;
overflow:hidden;
}

.main-content .fase {
width:1024px;
height:616px;
display:none;
}



/* heretat */
img {
max-width:100%;
height:auto;
}

.clearfix {
overflow:hidden;
*zoom:1;
}

.clearfix:before,.clearfix:after,.container:before,.container:after {
content:" ";
display:table;
}

.clearfix:after,.container:after {
clear:both;
}

.title {
color:#00acec;
font-weight:700;
font-size:18px;
}

.left-box {
float:left;
width:25%;
text-align:left;
}

.right-box {
float:right;
width:25%;
text-align:right;
}

.center-box {
float:left;
width:50%;
text-align:center;
}


.center-box.down {
  position:absolute;
  left:400px;
  width:200px;
text-align:center;
}


.right-box.credits {
  text-transform:uppercase;
position:absolute;
right:8px;
bottom:10px;
color:#000;
}

.right-box.credits:hover {
right:12px;
}

#header {
height:60px;
border-bottom:1px dotted #969696;
background: white;
}

#header .center-box {
line-height:60px;
}

#header img {
max-height:60px;
width:auto;
}

#footer {
height:40px;
/*border-top:1px dotted #969696;*/
background: white;
text-align: center;
position: absolute;
bottom: 0;
width: 100%;
}

#footer .center-box {
line-height:40px;
}

#footer img {
max-height:40px;
width:auto;
}

/**
botons
*/
#app {
margin:auto;
}

.text.intro {
font-size:3rem;
color:#000;
position:absolute;
left:120px;
top:120px;
}

.small {
transform:scale(0.5);
}

.sprite img {
position:absolute;
/*width:300px;*/
z-index:0;
}

.fase0 h1{
	z-index:1;
}

.fase1 .pop{
	z-index:1;
}

.pos-up {
top:-1200px;
left:200px;
}

p.text {
padding:10px;
}

h1 {
color:#000;
text-align:center;
width:100%;
font-size:5em;
margin:10% 0;
position:absolute;
text-transform:uppercase;
}

h2 {
color:#000;
text-align:center;
width:100%;
font-size:3em;
margin:10% 0;
position:absolute;
text-transform:uppercase;
}

h4 {
color:#fff;
text-align:center;
font-size:1.625em;
text-transform:uppercase;
text-shadow:3px 6px 8px rgba(0,0,0,.9);
margin:12px 0;
letter-spacing: -0.03em;
}

h4.como {
font-size: 1.625rem;
text-shadow:7px 8px 10px rgba(0,0,0,.9);
margin-top: 25px;
letter-spacing: -0.03em;
}

h3.titol-perso {
font-size: 1.8rem;
color: #000;
text-align: center;
text-transform: uppercase;
letter-spacing: -0.03em;
}

.black {
color:#000;
text-shadow:3px 6px 8px rgba(255,255,255,.9);
}

/** animacions de css */
.rebota {
transition:all .2s;
transition-timing-function:ease-out;
transition-timing-function:cubic-bezier(0.25,0.1,0.25,3);
}

.rebota:hover {
transform:scale(1.2) rotate(15deg);
}

/** controls


*/
.next {
cursor:pointer;
opacity:.9;
transform:scale(1);
}

.next:hover {
opacity:.8;
transform:scale(1.05);
}

/** pintar
*/
/** pintar
*/
/** layout */
.fase {
	display:none;

}

.fase1 .quadre {
position:absolute;
left:312px;
top:40px;
width:400px;
height:400px;
background-color:#fff;
margin:50px auto;
box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.fase1.credits{
  color:#000;
}

.fase1.credits .content{
  color:#000;
  line-height: 1.2;
  text-align: left;
}

.fase1 .quadre p {
font-family: helvetica, arial, sans-serif;
margin-bottom: 1em;
font-size: 0.75rem;
font-weight: 700;
}

.fase1 .quadre h3 {
font-size: 1.5rem;
text-transform: uppercase;
margin-bottom: 1em;
line-height: 1.2;
}

.fase1 .quadre .content {
background: #D7E17B;
padding:25px;
margin:20px;
height:320px;
}

.fase2 h2{
	top:-40px;
}

.fase3 .esquerra {
width:25%;
margin:25px;
}

.fase3 .centre {
width:47%;
}

.fase3 .dreta {
width:28%;
}

.fase3 {

display:flex;
flex-direction:row;
}

.fase3 .perso img {
/*transform:scale(0.45);*/
}

.fase3 .perso .carta {
position:absolute;

transform: rotate(-2deg);
left: 300px;
top: 80px;

}

.fase3 .perso .carta img.fons{

  /*  box-shadow: 6px 6px 12px rgba(0,0,0,0.6);*/
}

.fase3 .perso .perfil {
position:absolute;
}

.fase3 .carta .mon {
position:absolute;
padding:20px;
left:0;
top:0;
}

.perso img.part{
	/*left:-50%;
  top:-50%;*/
	/*transform:translate(-50%,-50%,0);*/
	transform: translateX(-50%) translateY(-50%);
}



.fase3 .color_o{
	background-color: rgb(230,146,104);
}

.fase3 .color_t{
	background-color: rgb(223,92,31);
}

.fase3 .color_g{
	background-color: rgb(243,211,111);
}

.fase3 .color_v{
	background-color: rgb(206,216,99);
}

/**et */

.fase3 .color_r{
	background-color: rgb(210,128,114);
}

.fase3 .color_b{
	background-color: rgb(123,147,160);
}

/* monstre */

.fase3 .color_b2{
	background-color: rgb(199,198,225);
}

.fase3 .color_g2{
	background-color: rgb(234,218,91);
}

.fase3 .color_r2{
	background-color: rgb(217,148,104);
}



.paleta {
width:220px;
height:500px;
background-color:orange;
margin:25px;
box-shadow: 0 0 12px rgba(0,0,0,0.5);
border: 5px solid #fff;
padding: 5px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: flex-start;
vertical-align: top;
}

.paleta .part {
width: 90px;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.paleta.pecu .part {
width: 60px;
padding: 5px;
}

.paleta.pecu .part img {
max-height: 80px;

}

.personalitat {
margin: 30px 0;
padding: 20px;
}

.personalitat li {
list-style-type: none;
padding:12px;
background: #527097;
color: #fff;
font-size: 25px;
text-transform: uppercase;
text-align: center;
margin: 0 0 1px 0;
position: relative;}

.personalitat li:hover {
background: #3E5B83;
cursor: pointer;
z-index: 999;
}

.round_top {
border-radius:25px 25px 0 0;
}

.round_bottom {
border-radius: 0 0 25px 25px;
}

.colores {
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: center;
}

.colores li {
width: 40px;
height: 40px;
border: 6px solid #fff;
margin-right: 1px;
background-color: #f00;
transition: border 0.3s;
display: block;
text-indent: -999em;
}

.colores li:hover {
border: 2px solid #fff;
transition: border 0.3s;
}

.listo {
border-radius: 10px;
box-shadow: 0 0 12px rgba(0,0,0,0.5);
color: #4F6D96;
text-transform: uppercase;
padding: 10px 70px 10px 50px;
margin-left:34px;
font-size: 1.75rem;
opacity: 1;
display: inline-block;
background:url(../images/botons/boto_ok.png) no-repeat calc(100% - 28px) center #DCE7F3;
background-size: 30px auto;
}



/** fase 5 final **/

.fase5 .perfil {
position:absolute;

}

.fase5 .part {
position:absolute;
}

.fase5 h2{
  color:#fff;
  text-shadow:6px 6px 12px rgba(0,0,0,.8);
  top:-60px;
}

#popup .mon {
width:200px;
height:230px;
position:absolute;
top:150px;
background-color:#fff;
color:#000;
z-index:9995;
}

#popup .mon:hover {
z-index:10000;
}

#popup .mon img {
margin:10px;
width:180px;
}

#popup .mon0 {
left:100px;
}

#popup .mon1 {
left:300px;
}

#popup .mon2 {
left:500px;
}

#popup .mon3 {
left:700px;
}

img#ubuntu {
position:absolute;
left:120px;
}

img#ubuntu_ {
position:absolute;
}

/** efectes

*/
.pulse:hover {
animation:pulse .5s ease-in infinite;
cursor:pointer;
}

.push:hover {
animation:pulse .3s linear 1;
cursor:pointer;
}


.pop{
	cursor: pointer;
}
/*
.pop:hover{
animation: pop 0.3s linear 1;
cursor: pointer;
}
*/
@keyframes pulse {
25% {
	transform:scale(0.9);
}

75% {
	transform:scale(1.1);
}
}

@keyframes push {
50% {
	transform:scale(0.8);
}
}

@keyframes pop {
50% {
	transform:scale(1.2);
}
}

.anim-balanceig {
transform:rotateZ(1.5);
}

/*
.pop:hover{
opacity:0.8;
transform:scale(1.05);
}
*/
/** fase 2 escull personatge **/
.fase {
background-image:url(../images/fons/fons_personatges.png?d);
background-size:1025px 617px;
}

/**
popup modal
*/
.hidden {
display:none;
}

#popup {
width:100%;
height:100%;
background-color:rgba(60,60,60,0.9);
position:absolute;
left:0;
top:0;
color:#fff;
padding:20px;
z-index:9990;
}

#popup.bfase2,#popup.bfase3{
background-color:rgba(200,209,219,0.8);
}

#popup.credits{
background-color:rgba(200,209,219,0.8);
}

#popup h2 {
text-align:center;
font-size:3em;
color:#000;
position:absolute;
top:-28px;
}

#popup h2#msg-bottom{
position:absolute;
top:440px;
font-size:3em;

color:#fff;
}


.fase2 .personatge {
width:260px;
height:260px;
position:absolute;
transform:scale(1);
}

#popup .personatge {
/*margin: -20px 0;*/
/*transform:scale(0.8);*/
text-align:center;
top:-40px;
position:relative;
z-index:1;
}

#popup .buttons {
width:90%;
margin:115px auto;
}

#popup .button {
box-shadow:8px 10px 15px rgba(0,0,0,.7);
text-align:center;
font-size:1.2em;
line-height:50px;

}

#popup .button#cancel {
z-index:10000;
position:absolute;
bottom:20px;
left:20px;
box-shadow: none;
}

#popup .button#ok {
z-index:10000;
position:absolute;
bottom:20px;
right:20px;
box-shadow: none;
}

#popup #msg {
z-index:10000;
text-align:center;
bottom:20px;
position:absolute;
width:100%;
}

#popup .como .button,
#popup .pecu .button {
margin:20px 23px;
height:60px;
width:27%;
font-size: 1.6em;
text-transform: uppercase;
line-height: 63px;

}

#popup .button.round {
border-radius: 14px;
}

#popup .button.mon {
line-height: 1;
}

.pecu .button {
margin:20px 23px;
height:60px;
width:44%;
}

.personatge.llimona {
left:30px;
top:160px;
}

.personatge.pastanaga {
left:250px;
top:160px;
}

.personatge.et {
left:480px;
top:160px;
}

.personatge.monstre {
left:720px;
top:160px;
}

.fase3 .perso {
height:440px;
}

.tornar {
position:absolute;
bottom:10px;
left:10px;
z-index:9980;
}

.error {
position:absolute;
width:100%;
height:60px;
padding:10px;
color:#fff;
font-size:2em;
background-color:rgba(255,100,100,0.8);
bottom:0;
text-align:center;
z-index:9999;
}

.fase4 {
text-align:center;
}

.fase4 .silabes {
width:800px;
text-align:center;
top:220px;
position:absolute;
left:200px;
font-family: 'Nunito', sans-serif;
}

.fase4 .sil {
background: #CFD865;
color:#000;
width:200px;
height:90px;
margin:10px;
float:left;
font-size:3em;
line-height: 90px;
  text-transform: uppercase;
box-shadow: 6 6 12px rgba(0,0,0,0.5);
}

.fase4 h2 {
margin: 140px 0 0 0;
font-size: 2rem;
text-transform: none;
font-family: 'Nunito', sans-serif;
}

.fase4 h3 {
position:absolute;
bottom:200px;
width: 100%;
text-align: center;
font-size: 4rem;
text-transform: uppercase;
}

.fase4 .next {
position:absolute;
bottom:10px;
width:100%;
text-align:center;
}

.fase4 .next img {
display:inline-block;
margin:0 auto;
}

/** layout
*/
.col-2 {
width:50%;
float:left;
text-align:center;
}

.col-3 {
width:33%;
float:left;
text-align:center;
}

.round {
border-radius: 25px;
}



/* intro */

.intro2 .pop {

}




/* COLORS FONS

background: #C46867;


background: #FAC931;


background: #A86E6F;


background: #7D7CB0;


background: #7BBE58;


background: #5B74BC;


background: #9C7C4F;


background: #F08139;


background: #BC4CCB;


background: #A1AF7C;


background: #CD4C53;


background: #70ABDA;*/
